  <style>
    body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.left-dialog, .right-dialog {
  background-color: #0e1222;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-dialog {
  width: 115%;
  border-radius: 10px;
  top: 50px;
  left: 50px;
}

.right-dialog {
  width: 115%;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #0005ad;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ff0000;
}


input[type=&quot;password&quot;] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* Estilos adicionais para o diálogo flutuante */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para o ícone de arquivo */
.arquivo {
  display: flex;
  align-items: center;
}

.arquivo strong::before {
  content: &quot;\f15c&quot;; /* Ícone de arquivo do FontAwesome */
  font-family: &quot;Font Awesome 5 Free&quot;;
  font-weight: 900;
  margin-right: 5px;
  color: #ff5733; /* Cor do ícone de arquivo */
}

/* Estilo de pasta */
.arquivo {
  background-color: #f9e79f; /* Cor de fundo da pasta */
  padding: 10px; /* Espaçamento interno */
  border-radius: 5px; /* Borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.modal-content .arquivo {
  background-color: #f9e79f; /* Cor de fundo da pasta no modal */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Adicione ao final do arquivo styles.css */

@media only screen and (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .right-dialog {
      margin-top: 20px;
  }
}
h2 {
  text-align: center;
}
h5 {
  font-size: 13px;
      text-align: center;
}
/* Botão do Facebook */
#facebook-btn {
  background-color: #3b5998; /* Azul do Facebook */
}

#facebook-btn:hover {
  background-color: #2a4375; /* Azul mais escuro no hover */
}

/* Botão do Telegram */
#telegram-btn {
  background-color: #0088cc; /* Azul do Telegram */
}

#telegram-btn:hover {
  background-color: #005f89; /* Azul mais escuro no hover */
}

/* Botão do WhatsApp */
#whatsapp-btn {
  background-color: #25d366; /* Verde do WhatsApp */
}

#whatsapp-btn:hover {
  background-color: #1aa34a; /* Verde mais escuro no hover */
}

  </style>